@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/breadcrumb";

.breadcrumb {
  background-color: none;
}

.breadcrumb-item {
  + .breadcrumb-item {
  }
  a {
    color: $gray-400;
    text-decoration: none;
  }
  &.active {
    color: #152c5b;
    font-weight: 500;
    &::before {
      padding-left: 1rem;
      padding-right: 1.5rem;
      color: #152c5b;
    }
  }
}
