@import "../node_modules/bootstrap/scss/bootstrap";

$primary: #3252df;
$dark: #152c5b;

.brand-text-icon {
  font-size: 26px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: $primary;
  text-decoration: none;
  &:hover {
    color: $primary;
  }

  .text-darkcolour {
    color: $dark;
  }
}

header {
  border-bottom: 1px solid $gray-200;
  width: 100%;
  position: relative;

  .navbar {
    .navbar-nav {
      li.nav-item {
        &.active {
          a.nav-link {
            color: $primary;
            &:hover {
              text-decoration: none;
            }
          }
        }
        a {
          &.nav-link {
            letter-spacing: 1px;
            color: $dark;
            padding: 0 1rem;
            &:hover {
              text-decoration: underline;
            }

            @include media-breakpoint-down(lg) {
              padding: 1rem;
            }
          }
        }
      }
    }
  }
}
